@font-face {
  font-family: chalkTastic;
  src: url(./assets/Chalktastic.ttf);
}

html body {
  background: url(./assets/background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
  font-family: chalkTastic;
}

.card {
  background: none !important;
}