@font-face {
  font-family: chalkTastic;
  src: url(./assets/Chalktastic.ttf);
}

html body {
  background: url(./assets/background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
  font-family: chalkTastic;
}

button {
  background: none;
  color: white;
}

.mainHead {
  transform: rotate(-20deg);
  margin-top: 100px;
}

.game {
  min-height: 400px;
}

.card {
  background: none !important;
  width: 18rem;
}

.card-title {
  color: yellow;
}

.square:focus {
  outline: none;
}

.board {
  width: 300px;
  height: 300px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 1px;
  -ms-transform: rotate(-20deg); /* IE 9 */
  transform: rotate(-20deg);
}

.square {
  text-align: center;
  font-size: 50px;
}

.square:nth-child(1),
.square:nth-child(2),
.square:nth-child(4),
.square:nth-child(5),
.square:nth-child(7),
.square:nth-child(8) {
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  border-bottom-right-radius: 225px 15px;
  border-bottom-left-radius: 15px 255px;
  border-right: 3px dashed yellow;
}

.square:nth-child(1),
.square:nth-child(2),
.square:nth-child(3),
.square:nth-child(4),
.square:nth-child(5),
.square:nth-child(6) {
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  border-bottom-right-radius: 225px 15px;
  border-bottom-left-radius: 15px 255px;
  border-bottom: 3px dashed yellow;
}

.selection {
  color: palegreen;
}

.selected {
  color: yellow;
}
